.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
}
  
.section-center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    //Fondo
    background-image: url("/assets/images/amg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
  
.card{
    width: 27rem;
    height: 27.813rem;
    background: #ffffff00 0% 0% no-repeat padding-box;
    box-shadow: -8px 0px 0px #0000001A;
    border: 2px solid #3E3E3E;
    opacity: 1;
}
  
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3rem;
}
  
.title{
    font-size: 32px;
    text-align: left;
    font-family: Nexa-Bold;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
}

input{
  width: 296px;
  height: 48px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  opacity: 1;
}

.input-group-text{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #3E3E3E;
  opacity: 1;
  border-left: none!important;
}

.pwd{
  border-right: none!important;
}

.form-check-label{
  text-align: left;
  font-family: Nexa-Bold;
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}

.btn-primary{
  width: 208px;
  height: 48px;
  background-color: #0092B8!important;
  border-color: #0092B8!important;
  border-radius: 8px!important;
  opacity: 1;
  //Fuente
  text-align: center;
  font-family: Nexa-Bold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.btn-primary:hover {
  background-color: #ffffff!important;
  border-color: #ffffff!important;
  
}

.bi{
  cursor: pointer;
}