<section class="registro-user">
    <div class="wrapper">
        <!-- Va a englobar todo el formulario con la cabecera -->
        <div class="section-registro">
            <div class="header-registro">
                <mat-icon class="icon-back" (click)="regresar()">arrow_back</mat-icon>
                <span *ngIf="!editar" class="title">Registrar usuario</span>
                <span *ngIf="editar" class="title">Actualizar usuario</span>
                <mat-icon class="icon-home">home</mat-icon>
            </div>
            <div class="body-registro">
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="user.first_name" name="nrc" placeholder="Escribe tu nombre">
                </mat-form-field>
                <div *ngIf="errors.first_name" class="invalid-feedback">{{ errors.first_name }}</div>
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input matInput [(ngModel)]="user.last_name" name="nrc" placeholder="Escribe tu nombre">
                </mat-form-field>
                <div *ngIf="errors.last_name" class="invalid-feedback">{{ errors.last_name }}</div>
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>ID de Trabajador</mat-label>
                    <input matInput [(ngModel)]="user.id_trabajador" placeholder="Escribe tu ID de trabajador">
                </mat-form-field>
                <div *ngIf="errors.id_trabajador" class="invalid-feedback">{{ errors.id_trabajador }}</div>
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Hora de entrada</mat-label>
                    <input matInput [(ngModel)]="user.hora_inicio" mask="00:00" placeholder="Escribe Hora de Salida en formato 24hrs">
                </mat-form-field>
                <div *ngIf="errors.hora_inicio" class="invalid-feedback">{{ errors.hora_inicio }}</div>
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Hora de Salida</mat-label>
                    <input matInput [(ngModel)]="user.hora_final" mask="00:00" placeholder="Escribe Hora de Salida en formato 24hrs">
                </mat-form-field>
                <div *ngIf="errors.hora_final" class="invalid-feedback">{{ errors.hora_final }}</div>
    
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Puesto de Trabajo</mat-label>
                    <input matInput [(ngModel)]="user.puesto" placeholder="Escribe tu puesto de trabajo">
                </mat-form-field>
                <div *ngIf="errors.puesto" class="invalid-feedback">{{ errors.puesto }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput [(ngModel)]="user.nombreusuario" placeholder="Escribe tu nombre de usuario">
                </mat-form-field>
                <div *ngIf="errors.nombreusuario" class="invalid-feedback">{{ errors.nombreusuario }}</div>

                <mat-form-field class="mat-input" appearance="outline" *ngIf="!editar">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [(ngModel)]="user.password" type="{{ inputType_1 }}" placeholder="Escribe contraseña">
                    <mat-icon matSuffix class="eye-icon" (click)="showPassword()">{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>
    
                <mat-form-field class="mat-input" appearance="outline" *ngIf="!editar">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input matInput [(ngModel)]="user.confirmar_password" type="{{ inputType_2 }}" placeholder="Confirma la contraseña">
                    <mat-icon matSuffix class="eye-icon" (click)="showPwdConfirmar()">{{hide_2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <div *ngIf="errors.confirmar_password" class="invalid-feedback">{{ errors.confirmar_password }}</div>
                <div class="section-buttons">
                    <button class="btn-danger" (click)="regresar()">Cancelar</button>
                    <button *ngIf="!editar" class="btn-primary" type="submit" (click)="registrar()">Registrar</button>
                    <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</section>