<section class="home-page">
    <div class="wrapper">
        <div class="section-left">
            <img src="/assets/images/Logo.png" class="logo-company">
        </div>
            <div class="header-home">
                <button class="logout-hide" mat-flat-button>Cerrar sesión</button>
                <!-- <mat-icon class="icon-back" (click)="logout()">arrow_back</mat-icon> -->
                <span class="title">Citas Próximas</span>
                <button class="logout" mat-flat-button color="warn" (click)="logout()">Cerrar sesión</button>
            