<section class="home-page">
    <div class="wrapper">
        <div class="section-home">
            <div class="header-home">
                <button class="logout-hide" mat-flat-button>Cerrar sesión</button>
                <!-- <mat-icon class="icon-back" (click)="logout()">arrow_back</mat-icon> -->
                <span class="title">Lista de usuarios</span>
                <button class="logout" mat-flat-button color="warn" (click)="logout()">Cerrar sesión</button>
            </div>
            <div class="body-home">
                
            </div>
        </div>
    </div>
</section>
