.wrapper{
    height: 100vh;
    width: 100vw;
    //Flex
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFFFFF;
    overflow-x: hidden;
}
.section-home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header-home{
    width: 100%;
    height: 10vh;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0092B8;
}
.icon-back{
    padding-left: 1.5rem;
    color: #FFFFFF;
    font-size: 28pt;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.icon-forward{
    padding-left: 1.5rem;
    color: #0092B8;
    font-size: 28pt;
    width: 40px;
    height: 40px;
}
.title{
    font-size: 28px;
    font-family: Nexa-Bold;
    text-align: center;
    opacity: 1;
    font-weight: bold;
    color: #FFFFFF;
}
.logout-hide{
    color: #0092B8!important;
    background-color: #0092B8;
    border: none;
    cursor: auto;
}
.logout{
    background-color: #E84150;
    font-family: Nexa;
}
.logout:hover{
    background-color: #ce1626;
}
.body-home{
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.5rem;
    gap: 2rem;
}
//Estilos de la tabla
.demo-table {
    width: 100%;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }