.wrapper{
    height: 100vh;
    width: 100vw;
    //Flex
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.section-home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header-home{
    width: 100%;
    height: 10vh;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0092B8;
}

.section-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
}

.btn-primary {
    width: 208px;
    height: 48px;
    background-color: #0092B8!important;
    border-color: #0092B8!important;
    border-radius: 8px!important;
    opacity: 1;
    //Fuente
    text-align: center;
    font-family: Nexa-Bold;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.btn-primary:hover {
    background-color: #017895!important;
    border-color: #017895!important;
}

.icon-back{
    padding-left: 1.5rem;
    color: #FFFFFF;
    font-size: 28pt;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icon-forward{
    padding-left: 1.5rem;
    color: #0092B8;
    font-size: 28pt;
    width: 40px;
    height: 40px;
}

.title{
    font-size: 28px;
    font-family: Nexa-Bold;
    text-align: center;
    opacity: 1;
    font-weight: bold;
    color: #FFFFFF;
}

.logout-hide{
    color: #0092B8!important;
    background-color: #0092B8;
    border: none;
    cursor: auto;
}

.logout{
    background-color: #E84150;
    font-family: Nexa;
    width: 135px;
    height: 38px;
    border-radius: 8px!important;
    opacity: 1;
    //Estilos fuentes
    text-align: center;
    font-family: Nexa-Bold;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.logout:hover{
    background-color: #ce1626;
}

.body-home{
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.5rem;
    gap: 2rem;
}

//Estilos de la tabla
table {
width: 100%;
padding-bottom: 1.5rem;
}

.mat-elevation-z8{
    width: 100%;
}

.mat-header-cell {
    font-family: Nexa-Bold!important;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0px;
    color: #231F20;
    opacity: 1;
}

.mat-cell {
    text-align: left;
    font-family: Nexa!important;
    font-size: 14px!important;
    letter-spacing: 0px!important;
    color: #231F20!important;
    opacity: 1!important;
}

//Editar
.td-editar{
    color: #0092B8!important;
    cursor: pointer!important;
    font-size: 20px!important;
    text-align: center;
}

.td-editar:hover{
    color: #006179!important;
    font-size: 25px!important;
    text-align: center;
}

//Eliminar
.td-eliminar{
    color: #E84150!important;
    cursor: pointer!important;
    font-size: 20px!important;
    text-align: center;
}

.td-eliminar:hover{
    color: #ce1626!important;
    font-size: 25px!important;
    text-align: center;
}