<section class="menu">
    <div class="wrapper">
        <!-- Va a englobar todo el formulario con la cabecera -->
        <div class="section-registro">
            <div class="header-registro">
                <mat-icon class="icon-back" (click)="regresar()">arrow_back</mat-icon>
            </div>

            <div class="body-registro">  
                <img src="/assets/images/logo.png" class="logo-company">       
                <div class="section-buttons">
                    <button class="btn-agenda" (click)="goAgenda()">Agenda de Citas <img src="/assets/images/agendita.png" class="iconos"> </button>
                    <button class="btn-agenda" (click)="goDirectorioEmpresarial()">Directorio Empresarial <img src="/assets/images/directo2.png" class="iconos"></button>
                    <button class="btn-agenda" (click)="goDirectorioPersonal()">Directorio Personal <img src="/assets/images/directo1.png" class="iconos"> </button>
                </div>
            </div>
        </div>
    </div>
</section>